@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

:root {
  --color-dark: #000000;
  --color-primary: #7ed0b7;
  --color-secondary: #CFFFE2;
  --color-accent: #F6F6F6;
  --color-sand: #E2DDB4; 


  font-family: "Alegreya Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgb(255, 255, 255);
  background-color: var(--color-primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-primary: #5682B1;
  --color-secondary: #739EC9;
  --color-accent: #FFE8DB;
  --color-dark: #000000;
}
